.module_top, .module_bottom{
  visibility: hidden;
}

table {
  border: 0px !important;
}

.module_content img{
  min-width: 70px;
}

.module_content h2{
  font-size: 30px;
}

table, table tr, table td{
  padding: 2 15px;
  text-align: center;
}

